* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  min-height: 200vh;
}

a {
  color: white;
  text-transform: capitalize;
}

nav.sticky {
  background-color: white;
  top: 10px;
  box-shadow: 2px 2px 40px rgba(231, 228, 228, 0.867);
}

nav.sticky ul li a,
nav.sticky li .logo {
  color: #541554;
}

nav.sticky .talkToSales {
  color: #541554;
  border-color: #541554;

}

nav.sticky .tryForFree {
  background-color: #541554;
  color: white;
}